@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Bungee&family=Dawning+of+a+New+Day&family=Jura:wght@300;400;500;600;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

/* 

FONTS 

font-family: 'Bungee Shade', cursive;
font-family: 'Dawning of a New Day', cursive;
font-family: 'Jura', sans-serif;
font-family: 'VT323', monospace; 
font-family: 'PrimaSans';
font-family: 'Space Grotesk, sans-serif', serif;
font-family: Space Grotesk, sans-serif;
*/

/* add color variables */

/* 
#FC5185 pink
#364F6B blue
#3FC1C9 light blue
#FCE38A yellow 
*/

/* ================ Theme Variables ================ */

html,
html[data-theme="light"] {
  --main-background-color: hsl(0, 5%, 95%);
  --main-text-color: #364f6b;
  --toggle-slot-bg: #374151;
  --toggle-button-bg: #485367;
  --toggle-button-box-shadow: inset 0px 0px 0px 12% white;
  --toggle-button-transform: translate(27%, 27%);
  --moon-icon-wrapper-opacity: 1;
  --moon-icon-wrapper-transform: translate(200%, 33%) rotate(-15deg);
  --sun-icon-wrapper-opacity: 0;
  --sun-icon-wrapper-transform: translate(50%, 33%) rotate(0deg);
}

html[data-theme="dark"] {
  --main-background-color: #364f6b;
  --main-text-color: #fce38a;
  --toggle-slot-bg: white;
  --toggle-button-bg: #ffeccf;
  --toggle-button-box-shadow: inset 0px 0px 0px 3px #ffbb52;
  --toggle-button-transform: translate(180%, 27%);
  --moon-icon-wrapper-opacity: 0;
  --moon-icon-wrapper-transform: translate(184%, 33%) rotate(0deg);
  --sun-icon-wrapper-opacity: 1;
  --sun-icon-wrapper-transform: translate(33%, 33%) rotate(15deg);
}

@media (prefers-color-scheme: dark) {
  html {
    content: "dark";
  }
}

/* ================ Dark Mode Toggle ================ */

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  position: relative;
  height: 80%;
  width: calc(8 / 9 * 100%);
  border: 5px solid #e4e7ec;
  border-radius: 40px;
  background-color: var(--toggle-slot-bg);
  transition: background-color 250ms;
  cursor: pointer;
}

.toggle-button {
  position: absolute;
  height: 65%;
  width: 32.5%;
  border-radius: 50%;
  background-color: var(--toggle-button-bg);
  box-shadow: var(--toggle-button-box-shadow);
  transform: var(--toggle-button-transform);
  transition: background-color 250ms, border-color 250ms,
    transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.sun-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  color: #ffbb52;
}

.sun-icon-wrapper {
  position: absolute;
  height: 60%;
  width: 30%;
  opacity: var(--sun-icon-wrapper-opacity);
  transform: var(--sun-icon-wrapper-transform);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.moon-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
}

.moon-icon-wrapper {
  position: absolute;
  height: 60%;
  width: 30%;
  opacity: var(--moon-icon-wrapper-opacity);
  transform: var(--moon-icon-wrapper-transform);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
}

/* ================ Fonts and Colors ================ */

@font-face {
  font-family: "PrimaSans";
  src: url("resources/fonts/PrimaSansMonoBT-Roman.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ================ Body ================ */

body {
  background-color: var(--main-background-color);
  margin: 0;
  transition: background-color 250ms;
}

/* ================ General Styles ================ */

.highlight {
  background: #fce38a;
}
.bold {
  font-weight: bold;
}
.inversed {
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

.full-width {
  width: 100%;
}

.small-font {
  font-size: 30px;
}

/* ================ Navbar ================ */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.navbar-logo h2 {
  font-family: "Bungee Shade", cursive;
  color: #fc5185;
  /*   -webkit-text-stroke-width: 2px; */
  /*   -webkit-text-stroke-color: #fce38a; */
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.navbar-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  height: 30px;
}

.btn a {
  font-family: "VT323", monospace;
  font-size: x-large;
  text-decoration: none;
  margin: 0 20px;
  padding: 10px;
  background-color: #fc5185;
  color: #fce38a;
  box-shadow: -5px 5px #364f6b;
}

.navbar-buttons .btn a:active {
  box-shadow: unset;
  display: block;
  transform: translate(-5px, -5px);
}

.navbar-logo h2::selection {
  background: #364f6b;
}

.navbar-dark-mode-toggle {
  padding: 10px;
  right: 0;
  width: 68px;
  height: 38px;
}

/* ================ Hero ================ */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Space Grotesk", sans-serif;
  align-items: center;
}

.hero-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px 0 70px;
  padding: 150px 20px;
}

.hero-subheader {
  color: var(--main-text-color);
  font-size: 64px;
}

.hero-header {
  color: var(--main-text-color);
  font-size: 64px;
}

.hero-illustration img {
  width: 100%;
}

.hero-illustration {
  width: 100%;
}

.hero-subheader::selection,
.hero-header::selection {
  background: #fce38a;
}

/* ================ Features ================ */
.features {
  height: 100%;
  background-color: #364f6b;
  color: #fce38a;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.features-listing {
  padding: 45px 0 10px 0;
  display: flex;
  justify-content: center;
}

.features-title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
}

.feature-title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.feature-description {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  text-align-last: center;
  text-align: justify;
  font-size: 20px;
  padding: 0 25px;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  transition: transform 250ms;
}

.feature:hover {
  transform: translateY(-10px);
}

.feature-title::selection,
.features-title::selection,
.feature-description::selection {
  background-color: #fc5185;
}

/* ================ About / How it Works ================ */

.about {
  color: var(--main-text-color);
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
}

.about-title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 60px;
}

.about-description {
  text-align: left;
  font-weight: 500;
  padding: 20px;
  font-size: 25px;
}

.about-description > div {
  padding: 20px;
}

.about-title::selection,
.about-description::selection,
.about-description > div::selection {
  background: #fc5185;
  color: #f4fafa;
}

/* ================ Downloads ================ */

.downloads {
  background-color: #364f6b;
  align-items: center;
  text-align: center;
  padding: 150px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.downloads-title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: #fce38a;
}

.downloads-listings {
  padding: 45px;
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.download {
  display: flex;
  flex-direction: column;
}

.download .btn a {
  margin: 10px;
}

.download .btn a::selection {
  background-color: #364f6b;
}

.os-title {
  color: #fce38a;
  font-size: 30px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.os-icon img {
  max-width: 100px;
}

.downloads-title::selection {
  background-color: #fc5185;
}

.small-font::selection {
  background-color: #fc5185;
}

.os-title::selection {
  background-color: #fc5185;
}

/* ================ Footer ================ */

.footer {
  padding: 50px 40px 60px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-logo {
  font-family: "Bungee Shade", cursive;
  color: var(--main-text-color);
  -webkit-text-stroke-width: 1px;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.footer-description {
  font-family: "Space Grotesk", sans-serif;
  margin: 20px 0;
  font-weight: 500;
  max-width: 700px;
  text-align: center;
  color: var(--main-text-color);
  font-size: 15px;
  text-align-last: center;
  text-align: justify;
}

.footer-icons {
  padding: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
}

.signature {
  font-family: "Dawning of a New Day", cursive;
  color: var(--main-text-color);
  font-size: 30px;
}

.footer-logo::selection {
  background: #fce38a;
}

.footer-description::selection {
  background: #fce38a;
}

/* ================ Responsive Behavior ================ */

/* Medium devices (desktops, 992px and up) */

@media (max-width: 992px) {
  body,
  html {
    padding: 0;
    margin: 0;
  }
  .navbar {
    padding: 30px 10px;
    flex-direction: column;
    align-items: center;
  }
  .navbar-logo h2 {
    font-size: 60px;
    margin: 0;
    padding: 0;
  }
  .navbar-buttons {
    padding: 0;
    margin-top: 10px;
  }
  .navbar-buttons .btn a {
    margin: 0 10px;
    padding: 5px;
    font-size: large;
  }
  .hero {
    flex-direction: column;
    padding: 0;
  }
  .hero-text {
    padding: 10px;
    text-align: center;
  }
  .hero-subheader {
    font-size: 36px;
  }
  .hero-header {
    font-size: 33px;
  }
  .hero-illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 0;
  }
  .hero-illustration img {
    max-width: 300px;
  }
  .features {
    padding: 20px 5px;
  }
  .features-listing {
    flex-direction: row;
    padding: 0;
  }
  .features-title {
    font-size: 50px;
  }
  .feature-title {
    text-align: center;
    font-size: 30px;
  }
  .about {
    padding: 30px 10px;
  }
  .about-title {
    font-size: 50px;
  }
  .about-description {
    padding: 25px;
  }
  .downloads {
    padding: 20px 5px;
  }
  .downloads-listings {
    flex-direction: row;
  }
  .download {
    margin-bottom: 20px;
  }
}

/* Small devices (tablets, 768px and up) */

@media (max-width: 768px) {
  body,
  html {
    padding: 0;
    margin: 0;
  }
  .navbar {
    padding: 30px 10px;
    flex-direction: column;
    align-items: center;
  }
  .navbar-logo h2 {
    font-size: 60px;
    margin: 0;
    padding: 0;
  }
  .navbar-buttons {
    padding: 10px 0;
  }
  .navbar-buttons .btn a {
    margin: 0 10px;
    padding: 5px;
    font-size: 25px;
  }
  .navbar-dark-mode-toggle {
    position: initial;
  }
  .hero {
    flex-direction: column;
    padding: 0;
  }
  .hero-text {
    padding: 10px;
    text-align: center;
  }
  .hero-illustration {
    padding: 10px;
    text-align: center;
  }
  .hero-illustration img {
    max-width: 300px;
  }
  .features {
    padding: 20px 5px;
  }
  .features-listing {
    flex-direction: column;
    padding: 0;
  }

  .features-title {
    font-size: 50px;
  }
  .feature-title {
    text-align: center;
    font-size: 30px;
  }
  .about {
    padding: 30px 10px;
    height: 100%;
  }
  .about-title {
    font-size: 50px;
  }
  .about-description {
    padding: 25px;
  }
  .downloads {
    height: 100%;
  }
  .downloads-listings {
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
  }
}

/* Large devices (large desktops, 1200px and up) */

@media (max-width: 1500px) {
  .hero-illustration img {
    max-width: 500px;
  }
  .hero-header,
  .hero-subheader {
    font-size: 45px;
  }
}
